.dub
docs.json
__dummy.html
docs/
/tpkg
tpkg.so
tpkg.dylib
tpkg.dll
tpkg.a
tpkg.lib
tpkg-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
dub.selections.json

# Outputs from unittests and manual testing
out/
doc/


# Outputs from calling `build(StoreRef)`
*.c
*.o
